{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container">
    <h1 class="text-center my-4">اقتراحات للمتابعة</h1>
    <ul class="col-md-6 mx-auto list-unstyled">
        {% for suggestion in suggestions %}
        <li class="media my-4 border-bottom pb-3">
            <a href="{% url 'profile' suggestion.pk %}">
                {% if suggestion.profile.picture %}
                    <img class="mr-3 rounded-circle" src="{{ suggestion.profile.picture.url }}" alt="Profile Picture" width="50">
                {% else %}
                    <img class="mr-3 rounded-circle" src="{% static 'default.jpg' %}" alt="No Profile" width="50">
                {% endif %}
            </a>
            <div class="media-body ml-3">
                <h5 class="mt-0 mb-1">
                    <a href="{% url 'profile' suggestion.pk %}">{{ suggestion.get_full_name|default:suggestion.email }}</a>
                </h5>
                <small class="text-muted">@{{ suggestion.email }}</small>
            </div>
        </li>
        {% empty %}
        <li class="text-center">لا يوجد اقتراحات في الوقت الحالي.</li>
        {% endfor %}
    </ul>

    <div class="text-center mt-4 mb-5">
    <a href="{% url 'post-list' %}" class="btn btn-secondary">رجوع إلى الصفحة الرئيسية</a>
</div>
</div>

{% endblock content %}





{% comment %}




<!--{% block content %}

<div class="container">
    <h1 class="text-center my-4">اقتراحات للمتابعة</h1>

    <ul class="col-md-6 mx-auto list-unstyled">
        {% for suggestion in suggestions %}
        <li class="media my-4 border-bottom pb-3">
            <a href="{% url 'profile' suggestion.pk %}">
                {% if suggestion.profile.picture %}
                    <img class="mr-3 rounded-circle" src="{{ suggestion.profile.picture.url }}" alt="Profile Picture" width="50">
                {% else %}
                    <img class="mr-3 rounded-circle" src="{% static 'default.jpg' %}" alt="No Profile" width="50">
                {% endif %}
            </a>
            <div class="media-body ml-3">
                <h5 class="mt-0 mb-1">
                    <a href="{% url 'profile' suggestion.pk %}">{{ suggestion.get_full_name|default:suggestion.username }}</a>
                </h5>
                <small class="text-muted">@{{ suggestion.username }}</small>
            </div>
        </li>
        {% empty %}
        <li class="text-center">لا يوجد اقتراحات في الوقت الحالي.</li>
        {% endfor %}
    </ul>

    <div class="text-center mt-4">
        <a href="{% url 'post-list' %}" class="btn btn-secondary">رجوع إلى الصفحة الرئيسية</a>
    </div>
</div>

{% endblock content %}-->

{% endcomment %}
